body{
	background-color: #484848;
	margin-left: 20%;
	margin-right: 20%;

}

/* MADLIBS */
header{
	color: white;
	font-family: Arial, sans-serif;
	font-size: 100px;
	position: relative;
	left: 15%;
}

/* FOOTER */
footer{
	color: white;
	background-color: gray;
	position: relative;
	text-align: center;
	font-size: 20px;
	width: 706px;
	left: 15%;
}

/* VRAGENLIJST */
main{
	background-color: white;
	position: relative;
	padding: 10px;
	height: 12%;
	width: 685px;
	left: 15%;
}

#antwoord{
	width: 30%;
	display: block;
	float: right; clear: right;
}

/* NAV BAR */
li {
    float: left;
}

ul{
	list-style-type: none;
	position: relative;
	left: 15%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #800000;
    width: 705px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}